/* adding variable for js access*/
:root {
    --mapHeight: 60%;
    --margin: 6%
}

#map {
    margin-left: var(--margin);
    margin-right: var(--margin);
    position: fixed !important;
    height: var(--mapHeight);
    width: calc(100% - 2*var(--margin)) !important;
    border: 4px solid black;
}

.map-wrapper {
    height: 100%;
}

.font-xx-large {
    font-size: xx-large;
}

.sport-color {
    color: #4744E9;
}

.culture-color {
    color: black;
}

.attractions-color {
    color: #F91515;
}

.big-checkbox {
    width: 30px;
    height: 30px;
}

.location-list {
    position: absolute;
    right: 0;
    margin: auto;
    margin-top: 10px;
    margin-right: 7%;
    white-space: nowrap;
}