/* adding variable for js access*/
:root {
    --mapHeight: 60%;
}

#map {
    position: fixed !important;
    height: var(--mapHeight);
    width: 100% !important;
}

.font-xx-large {
    font-size: xx-large;
}

.sport-color {
    color: #4744E9;
}

.culture-color {
    color: black;
}

.attractions-color {
    color: #F91515;
}

.big-checkbox {
    width: 30px;
    height: 30px;
}

.location-list {
    position: absolute;
    right: 0;
    margin: auto;
    margin-top: 10px;
    margin-right: 3%;
    white-space: nowrap;
}